*{
  
  margin: 0; 
  padding: 0;
  min-width: auto;
  max-width: auto;
}

body {
    background-image: linear-gradient(to bottom,BLACK, rgb(68, 88, 76),rgb(61, 40, 40) );
    background-attachment: fixed;
    background-color: rgb(126, 29, 29);
    font-family: sans-serif;
}

img{
    margin-top: 50px;
    border-radius: 30px;
    width: 275px;
    height: 250px;
}

h1 {
    color: rgb(208, 227, 233);
    margin-top: -250px;
    margin-bottom: 190px;
}

p{
    margin-top: 210px;
    color: rgb(122, 149, 179);
}

ul{
    margin-top: 25px;
}

li{
    margin-bottom: 20px;
    list-style: none;
}

a{
    background-color: rgba(94, 92, 92, 0.948);
    color: rgb(130, 156, 190);
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    box-shadow: 0 7px 0 rgba(14, 13, 17, 0.808);
}

.btn:hover {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.container {
    
    width: 300px;
    text-align: center;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
}
